<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        {{#link-to "notes" tagName="li" }}
          <a>Notes</a>
        {{/link-to}}

        {{#link-to "categories" tagName="li"}}
          <a>Categories</a>
        {{/link-to}}
      </ul>
    </div>

    <div class="nav navbar-nav navbar-right">
      <div class="navbar-form" role="search">
        {{render 'search'}}
      </div>
    </div>
  </div>
</nav>

<aside class="sidebar tools pull-right">
  <span class="fa fa-plus-circle" title="Add note" {{action "showModal" "edit"}}></span>
  <span class="fa fa-qrcode" title="Add category" {{action "showModal" "add-category"}}></span>

  {{#if canUndo}}
    <span class="fa fa-undo" title="Undo delete" {{action "undo"}}></span>
  {{/if}}
</aside>

{{outlet}}
{{outlet 'modal'}}