<note>
  <div {{bind-attr class=":col-lg-2 :col-md-3 :col-xs-6 :note-container note.color note.highlight:highlight"}}>
    <h3>{{note.title}}</h3>

    <p>{{note.text}}</p>
  </div>

  <div {{bind-attr class=":note-tools view.showButtons:show"}}>
    <button type="button" class="btn-clean fa fa-edit" {{action "edit" note}}></button>
    <button type="button" class="btn-clean fa fa-remove" {{action "remove" note}}></button>
  </div>
</note>